:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
    display: block;
}


body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    /* display: flex;
    justify-content: center; */
}

.link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.list {
    list-style-type: none;
}

header {
    border-bottom: 1px solid #E7E9FC;
    background-color: white;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.logotype {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.italic-text {
    color: #2e2f42;
}

.menu-link {
    display: block;
    color: #2E2F42;   
    font-weight: 500;
    padding-top: 24px;
    font-size: 16px;
    line-height: 1,5px;
    letter-spacing: 0,02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

.active {
    color: #404bbf;
    position: relative;
}

.active::after {
    content:'';
    width: 48px; /* TODO: 100% */
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    position: absolute;
    left: 0; 
    bottom: -1px;
}

.contact {
    font-style: normal
}

.contact-link {  
    display: block;
    /* padding: 24px 0; */
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0,02em;
    color: #434455;
    /* font-weight: 400; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn {
    display: none;
    background-color: transparent;
    border: 0;
}

/* section 1 */
.welcome-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

    color: white;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.welcome-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.goalbutton {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.goalbutton:hover {
    background-color: #404BBF;
}

.goalbutton:focus {
    background-color: #404BBF;
}

/* section 2 */
.slogan-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

.slogantitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.slogan-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.slogan-list-column {
    display: flex;
    gap: 24px;
}

.slogan-item {
    /* flex-basis: calc((100% - 72px) / 4); */
    padding: 0 16px;
}

.slogan-item-container {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    /* width: 264px; */
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    margin-bottom: 8px;



}

.slogan-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.slogan-item-description {
}

/* section 3 */
.team-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list-column {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-item-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-item {
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.container-name {
    padding: 32px 0;
}

.team-item-job {
    line-height: 1.5;
    letter-spacing: 0.02em; 
    text-align: center;
}

.social-list {
    justify-content: center;
    display: flex;
    gap: 24px;
    margin-top: 14px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
   background-color:  #404BBF;
}

.social-list-icons {
    fill: #f4f4fd;
}



/* section 4 */
.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    max-width: 1000px;
    /* row-gap: 48px; */
}

.portfolio-item {
    /* width: calc((100% - 48px) / 3);  */
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.portfolio-item-name {
    margin-bottom: 8px;
}

.portfolio-item-description {
    color: #434455;
}

.portfolio-item-overlay {
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:focus .portfolio-item-overlay {
    transform: translateY(0);
}


.footer {
    color: white;
    background-color: #2e2f42;
    padding: 100px 156px;

    display: flex;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-section-container {
    display: flex;
}

.footer-section {
    width: 264px;
}

.footer-section-social {
    display: flex;
    flex-direction: column;
}

.footer-section.first {
    margin-right: 120px;
}

.footer.logotype {
    display: inline-block;
    margin-bottom: 16px  
}

.footer .italic-text {
    color: #f4f4fd;
}

.footer-description {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
}

.linkblock {
    display: inline-block;
}

.social-list-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.social-list-item-footer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .title {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px; 
}

.footerlink {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
}

.social-list-link-footer {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex; 
    align-items: center;
    justify-content: center; 
} 

.social-list-link-footer:hover, 
.social-list-link-footer:focus {
    background-color: #31d0aa;
}

.footer-social-list-icons {
    fill:  #f4f4fd
}

/* FORM-footer */
 
.form-footer-container {
    margin-left: auto;
    width: 453px;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.form-title-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:FFFFFF;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.form-footer-input {
    width: 264px; 
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px;
    color: #ffffff;
    
}

.subscribe-button {
    font-weight: 500; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.form-footer-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

/* FORM section 1 */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color:rgba(46, 47, 66, 0.4);  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open { 
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;

    transform: translate(-50%, -50%);

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%); 
}

.modal-text {
    width: 298px;
    font-weight: 500;
    font-size: 16px;

    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer; 

    display: flex;
    align-items: center; 
    justify-content: center; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: #ffffff;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    padding-left: 38px; 
    background-color: transparent; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5; 
}

.modal-form-input:focus.form-input-icon {
    fill: #4D5AE5;
}

.form-input-icon {
    position: absolute;
    fill: #2E2F42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-icon-wrapper {
    position: relative;
}

.modal-form-input:focus + .form-input-icon {
    fill: #4D5AE5;
}

.form-user-coment {
    width: 100%;
    resize: none;
    outline: transparent; 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-user-coment::placeholder {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.form-user-coment:focus {
    border: 1px solid #4D5AE5;
}

.form-wrapper-checkbox {
    margin-bottom: 24px; 
}

.castom-checkbox {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked {
    background-color: #404bbf;
    border: none; 
}

.checkbox:checked+.form-user-checkbox .castom-checkbox {
    background-color: #404bbf;
    border: transparent;
    fill: #F4F4FD;
}

.form-user-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.accept-link {
    color: #4d5ae5;
}

.form-user-checkbox a {
    text-decoration: underline;
}

.form-btn-submit {
    display: block; 
    background-color: #4D5AE5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 14px 40px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    cursor: pointer;
    margin: 0 auto;
}

.form-btn-submit:hover,
.form-btn-submit:focus {
    background-color: #404BBF;
}

.form-wrapper-cont {
    margin-bottom: 8px;
}

.form-wrapper-cont-last {
    margin-bottom: 16px;
}



.mobile-menu {
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.container-mobile-menu {
    padding-top: 136px;
    padding-bottom: 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
}

.list-mobile {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-link {
    text-decoration: none;
    color: var(--navy-blue);
}

.mobile-link-active {
    color: var(--ocean);
}

.mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contact-link {
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.mobile-contact-link-active {
    color: var(--ocean);
}

@media screen and (max-width: 768px) {
    .contact-list {
        flex-direction: column;
        gap: 0;
    }

    .welcome-section {
        height: 432px;
    }

    .welcome-title {
        font-size: 32px; /* TODO */
    }

    .slogan-item-container {
        display: none;
    }

    .slogan-list {
        flex-direction: column;
    }

    .menu-list {
        gap: 16px;
    }

    .team-list {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .menu-list, 
    .contact {
        display: none;  
    }

    .burger-btn {
        display: block;
    }

    .welcome-section {
        height: 432px;
    }

    .welcome-title {
        font-size: 32px; /* TODO */
    }

    .slogan-item-title {
        text-align: center;
    }

    .slogan-list-column {
        flex-direction: column;
    }

    .team-list-column {
        flex-direction: column;
    }

    .footer {
        padding: 100px 16px;
    }
    
    .footer-container {
        flex-direction: column;
        gap: 72px;
    }

    .footer-section-container {
        flex-direction: column;
        gap: 72px;
    }

    .footer-section {
        width: 100%;
    }

    .footer-section-social {
        align-items: center;
    }

    .footerlink {
        display: block;
        text-align: center;
    }

    .form-footer {
        flex-direction: column;
        align-items: center;
    }

    .form-footer-container {
        width: 100%;
        height: 100%;
        align-items: center;
    }
}



